ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  max-width: 1135px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.header {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  color: #2f3542;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.07);
          box-shadow: 0 10px 40px rgba(0, 0, 0, 0.07);
  padding: 10px 0;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  max-width: 160px;
}
.header__logo img {
  max-width: 100%;
}
.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.header__menu-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.header__item {
  width: auto;
}
.header__link, .header__email {
  color: inherit;
}
.header__link_home, .header__email_home {
  position: relative;
  left: 48px;
  font-size: 18px;
}
.header__link:hover, .header__email:hover {
  color: #000;
}
.header__link:focus, .header__email:focus {
  color: inherit;
}
.header__link::after, .header__email::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: #000;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__link:hover.header__link::after, .header__email:hover.header__link::after {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.header__link-indent {
  margin-right: 40px;
}
.header__email {
  position: relative;
  top: 0;
  display: block;
  padding: 5px 8px;
  border-radius: 7px;
  font-size: 16px;
  font-weight: 600;
  color: #35347e;
  background-color: #f7d116;
}
.header__email:hover {
  top: -2px;
  color: inherit;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
.header__email:active {
  top: 0;
}

.face {
  margin-top: 150px;
}
.face__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.face__content {
  max-width: 800px;
  position: relative;
  z-index: 5;
}
.face__title {
  color: #2f3542;
  font-size: 50px;
}
.face__subtitle {
  font-size: 19px;
  max-width: 90%;
}
.face__button {
  margin-top: 40px;
}
.face__list {
  color: #2f3542;
  font-weight: 500;
  font-size: 16px;
  margin-top: 40px;
}
.face__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.face__item:nth-child(2) {
  margin-left: 5px;
}
.face__item img {
  margin-right: 10px;
}
.face__item_indent {
  margin-top: 10px;
}
.face__image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 640px;
}
.face__image img {
  width: 100%;
}

.button {
  position: relative;
  top: 0;
  display: inline-block;
  background-color: #f7d116;
  padding: 20px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #35347e;
  font-size: 18px;
  font-weight: 700;
  border-radius: 15px;
  overflow: hidden;
}
.button:hover {
  top: -2px;
  color: inherit;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}
.button:active {
  top: 0;
}
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 200px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.5)));
  background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 100%);
  position: absolute;
  left: -120px;
  top: -50px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
.button:focus {
  color: inherit;
}

@-webkit-keyframes slideme {
  0% {
    left: -110px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 60px;
  }
  100% {
    left: 110%;
    margin-left: 60px;
  }
}
@keyframes slideme {
  0% {
    left: -110px;
    margin-left: 0px;
  }
  30% {
    left: 110%;
    margin-left: 60px;
  }
  100% {
    left: 110%;
    margin-left: 60px;
  }
}
.why {
  margin-top: 130px;
  color: #2f3542;
  background-color: #f1f2f6;
  padding: 50px 0 80px;
}
.why__title {
  font-size: 40px;
  font-weight: 700;
  color: inherit;
}
.why__elems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}
.why__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32%;
  background: #ffffff;
  -webkit-box-shadow: 0px -2px 4px -2px rgba(17, 60, 143, 0.05), 0px 5px 20px -5px rgba(17, 60, 143, 0.25);
          box-shadow: 0px -2px 4px -2px rgba(17, 60, 143, 0.05), 0px 5px 20px -5px rgba(17, 60, 143, 0.25);
  border-radius: 8px;
}

.elem {
  padding: 20px;
}
.elem__title {
  font-size: 18px;
  font-weight: 700;
  color: inherit;
}
.elem__description {
  font-size: 14px;
}
.elem__image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 50%;
  background-color: #f7d2169a;
  margin-left: 15px;
}
.elem__image_padding {
  padding: 14px;
}

.buy {
  margin-top: 100px;
}
.buy__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.buy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}
.buy__item {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.buy__number {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #35347e;
  color: #35347e;
  background-color: #f7d2169a;
}
.buy__number span {
  font-size: 24px;
  font-weight: 500;
  color: inherit;
}
.buy__number::after {
  content: "";
  position: absolute;
  right: -329px;
  width: 329px;
  height: 1px;
  background-color: #000;
}
.buy__number_after::after {
  display: none;
}
.buy__content {
  margin-top: 50px;
}
.buy__subtitle {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
}
.buy__description {
  margin-top: 30px;
  font-size: 20px;
}
.buy__button {
  margin-top: 80px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.call-item {
  color: #2f3542;
  border: 2px solid #35347e;
  border-radius: 15px;
  background-color: #f1f2f6;
  margin-top: 70px;
  margin-bottom: 50px;
}

.call-item_font {
  margin-bottom: 100px;
}

fieldset {
  border: 2px solid #35347e;
  border-radius: 10px;
}

legend {
  color: #35347e;
}

.animation-label .form-group .form-control {
  border-radius: 5px;
}

.btn.btn-primary {
  background-color: #35347ec4;
  border-radius: 10px;
}

.button__form {
  border-radius: 5px;
  width: 200px;
  padding: 15px 40px;
}

.buttons-panel {
  text-align: center;
}

.panel.panel-default > .panel-heading,
.panel > .panel-heading {
  background-color: unset;
}

#accordion .panel-title > a {
  padding: 30px 60px 30px 30px;
  border-radius: 15px;
  color: #35347eb0;
}

#accordion .panel-title > a::after {
  display: none;
}

#accordion .panel-title > a.collapsed {
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 14px 1px rgba(0, 0, 0, 0.09);
          box-shadow: 0 10px 14px 1px rgba(0, 0, 0, 0.09);
  border: 1px solid #35347e1c;
}

#accordion .panel-heading {
  padding: 0;
  border-radius: 15px;
}

#accordion .panel-body {
  padding-top: 30px;
  border: none;
  font-size: 16px;
}

#accordion .panel-title > a:before,
#accordion .panel-title > a.collapsed:before {
  top: 28px;
}

#osago_form a.btn:hover {
  background-color: #35347e !important;
}

#osago_form a.btn.btn-success:hover {
  background-color: #36943a !important;
}

.panel-group {
  margin-top: 50px;
}

.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f1f2f6;
  margin-top: 60px;
  margin-bottom: 30px;
  padding: 50px 0;
}
.partners__wrapper {
  margin-top: 30px;
}
.partners__container {
  padding: 20px 0;
  cursor: -webkit-grab;
  cursor: grab;
}
.partners__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px -2px 4px -2px rgba(17, 60, 143, 0.05), 0px 0px 13px -5px rgba(17, 60, 143, 0.55);
          box-shadow: 0px -2px 4px -2px rgba(17, 60, 143, 0.05), 0px 0px 13px -5px rgba(17, 60, 143, 0.55);
  border-radius: 8px;
  border: 2px solid #f7d116;
}
.partners__slide img {
  border-radius: 15px;
}
.partners__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 50px;
}

.indent {
  margin-left: 20px;
}

.indent-top {
  margin-top: 100px;
}

.indent-bottom {
  margin-bottom: 0 !important;
}

.footer {
  background-color: #f1f2f6;
  padding: 30px 30px;
  border-top: 2px solid #f7d116;
  margin-top: 100px;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__menu {
  font-size: 16px;
}
html,
.body-wrapper {
  height: 100%;
}

.body-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1155px) {
  .wrapper {
    max-width: 948px;
  }

  .header__burger-wrapper {
    position: relative;
    display: block;
    z-index: 299;
    cursor: pointer;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    width: 50px;
    height: 50px;
    background-color: #f7d216;
    border-radius: 50%;
  }
  .header__burger {
    z-index: 300;
    width: 30px;
    height: 23px;
  }
  .header__burger:focus {
    outline: none;
  }
  .header__burger span {
    position: absolute;
    background-color: #000;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 30px;
    height: 3px;
    top: 23px;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header__burger::after, .header__burger::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #000;
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }
  .header__burger::after {
    top: 33px;
  }
  .header__burger::before {
    top: 13px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 24px;
    left: 11px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 24px;
    left: 11px;
  }
  .header__menu {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 199;
    right: 0;
    top: 0;
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
    padding: 150px 15px 15px 35px;
    height: 100vh;
    width: 350px;
    font-size: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 -15px 25px rgba(0, 0, 0, 0.4);
            box-shadow: 0 -15px 25px rgba(0, 0, 0, 0.4);
    overflow: auto;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
  }
  .header__menu.active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .header__burger-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-transform: uppercase;
    font-family: "Gilroy Medium";
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: left;
  }
  .header__burger-item:nth-child(n+2) {
    margin-top: 20px;
  }
  .header__burger-link {
    color: inherit;
    text-decoration: none;
  }
  .header__link-indent {
    margin: 0 0 20px;
  }
  .header__email {
    background-color: unset;
  }

  .face__subtitle {
    width: 80%;
  }
  .face__image {
    width: 61%;
  }

  .why {
    margin-top: 80px;
  }

  .buy__number::after {
    right: -264px;
    width: 264px;
  }

  .footer__menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 10;
    right: auto;
    top: auto;
    -webkit-transform: none;
            transform: none;
    padding: 0;
    height: auto;
    width: auto;
    font-size: 16px;
    background-color: unset;
    -webkit-box-shadow: none;
            box-shadow: none;
    overflow: auto;
  }
  .footer__link-indent {
    margin: 0 20px 0 0;
  }
  .footer__payment img {
    max-width: 110px;
  }
}
@media (max-width: 964px) {
  .face__title {
    font-size: 40px;
  }
  .face__subtitle {
    width: 70%;
    font-size: 18px;
  }
  .face__button,
.face #parentFormScroll {
    margin-top: 15px;
  }
  .face__list {
    margin-top: 20px;
  }
  .face__item img {
    max-width: 35px;
  }
  .face__image {
    width: 54%;
    bottom: 47px;
  }

  .why__elems {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .why__elem {
    width: 49%;
  }
  .why__elem_indent {
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
  }

  .buy__item {
    width: 32%;
  }
  .buy__wrapper {
    max-width: 668px;
  }
  .buy__subtitle {
    font-size: 18px;
  }
  .buy__description {
    font-size: 16px;
  }
  .buy__number::after {
    right: -160px;
    width: 160px;
  }

  .footer__menu {
    font-size: 14px;
  }
  .footer__payment img {
    max-width: 90px;
  }
  .footer__payment img:nth-child(2) {
    position: relative;
    right: -20px;
  }
  .footer__payment img:first-child {
    position: relative;
    right: -40px;
  }
}
@media (max-width: 780px) {
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__payment {
    margin-top: 15px;
  }
  .footer__payment img:nth-child(2) {
    right: 0;
  }
  .footer__payment img:first-child {
    right: 0;
  }
}
@media (max-width: 685px) {
  .header__contacts {
    display: none;
  }
  .header__link_home {
    left: 0;
  }

  .face {
    margin-top: 100px;
  }
  .face__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .face__title {
    text-align: center;
  }
  .face__subtitle {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .face__button,
.face #parentFormScroll {
    margin: 30px auto;
  }
  .face__image {
    display: none;
  }

  .why__title {
    font-size: 32px;
  }
  .why__elem {
    width: 100%;
  }
  .why__elem:first-child {
    margin-bottom: 2%;
  }

  .buy__content {
    margin-top: 15px;
  }
  .buy__subtitle {
    font-size: 22px;
  }
  .buy__number::after {
    display: none;
  }
  .buy__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .buy__item {
    width: 100%;
  }
  .buy__item:nth-child(n+2) {
    margin-top: 25px;
  }
}
@media (max-width: 520px) {
  .header__contacts {
    display: none;
  }
  .header__menu {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .face__title {
    font-size: 34px;
  }
  .face__subtitle {
    font-size: 16px;
  }

  .why__title {
    font-size: 26px;
    text-align: center;
  }
  .why__elem:first-child {
    margin-bottom: 20px;
  }
  .why__elem_indent {
    margin-top: 20px;
  }

  .elem__image {
    max-width: 40px;
    max-height: 40px;
    margin-left: 5px;
  }
  .elem__image img {
    max-width: 40px;
    max-height: 40px;
  }
  .elem__image_padding {
    padding: 10px;
  }
  .elem__image_padding img {
    max-width: 20px;
    max-height: 20px;
  }

  .buy {
    margin-top: 45px;
  }
  .buy__description {
    text-align: justify;
    font-size: 14px;
  }
  .buy__subtitle {
    font-size: 18px;
  }
  .buy__list {
    margin-top: 35px;
  }

  .partners {
    margin-top: 25px;
  }

  .call-item {
    margin-top: 50px;
    margin-bottom: 0;
    padding: 20px 15px;
    font-size: 20px;
  }

  .call-item p {
    font-size: 16px;
  }

  .indent {
    margin-left: 0;
  }

  #accordion .panel-title a {
    font-size: 16px;
  }

  .main {
    padding-left: 0;
    padding-right: 0;
  }

  .footer {
    padding: 30px 0;
    margin-top: 0;
  }
  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__link-indent {
    margin: 0 0 10px;
  }

  #accordion .panel-title > a {
    padding: 15px 40px 15px 15px;
  }

  #accordion .panel-body {
    padding: 10px 0;
    font-size: 14px;
  }

  #accordion .panel-title > a.collapsed,
#accordion .panel-title > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 80px;
  }

  .panel-group {
    margin-top: 0;
  }

  .section-title h2 {
    font-size: 22px;
  }

  .sec-call_indent {
    margin-top: 90px;
    margin-bottom: 60px;
  }

  .call-item_font {
    font-size: 16px;
  }
}